/* Background */
.main-bg {
  background: #f3f4ff;
  min-height: 100vh;
  padding-bottom: 50px;
}

/* HEADER */
.header {
  width: 100%;
  padding: 18px 0;
  background: #6c63ff;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

/* MAIN CONTAINER */
.container {
  width: 90%;
  margin: auto;
  font-family: Arial, sans-serif;
}

/* HERO SECTION */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
  gap: 40px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.4;
}

.hero-img img {
  width: 320px;
  border-radius: 20px;
  object-fit: cover;
}

/* PROJECT SECTION */
.project-title {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
}

.card {
  width: 300px;
  padding: 15px;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}

.card img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.card h3 {
  margin: 12px 0;
}

.card a {
  padding: 10px 16px;
  background: #6c63ff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.card a:hover {
  background: #564edb;
}
